{% extends "_base.html" %}

{% block content %}
    <br>
    <h2 style="color: red;">Search Results</h2>
    <br>
    <p style="display: flex; gap: 5rem">
        <span style="color: blue;font-size:1.5rem;" >Found {{ quotes.count }} item(s)</span>
        <a href="{% url 'all_quotes' %}" class="btn btn-primary">Show All Quotes</a>
    </p>

    {% for quote in quotes %}
      <ul>
        <li>{{ quote.headline | safe }} - <b>By <i>{{ quote.name }}</i></b></li>
{#        <li>{{ quote.quote }} - <b>By <i>{{ quote.name }}</i></b></li>#}
      </ul>
    {% empty %}
      <p>No results found. Try again.</p>
    {% endfor %}

    <br><br>
{% endblock content %}
